#signup{
    padding-top: 80px;
    padding-bottom: 3px;
}#signup-card{
    padding-top: 40px;
    padding-bottom: 10px;
}
.width{
    width: 240px;
}
#banner {
    height: 130px;
    padding: 0;
    margin-bottom: 0px;
    width:	inherit;
    background : url(../images/KONGU_BANNER.jpg) center no-repeat;
    background-color: 	#333333;


}
.navbar {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}
#left-pad{
    padding-left: 450px;
}#left-pad2{
    padding-left: 100px;
}
#bg{
    background: #3498db; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, #8e44ad, #2980b9,#9b59b6); /* Standard syntax (must be last) */
    background-repeat: none;
}
#padding1{
    padding-top: 80px;
    padding-left: 3px;
 }#padding2{
    padding-top: 60px;
    padding-left: 50px;
 }#padding-all{
    padding: 10px;
        z-index: 25;
 }
#jumbo{
    padding-top: 100px;
}

.media{
    border-color: aliceblue;
}
#card:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    transition: .3s;
}
#card3:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    transition: .3s;
}
#card4:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    transition: .3s;
}
#card2:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.10);
    transition: .5s;
}
#card2{
    background-color: beige;
    height: 275px;
}
#card3{
    height: 300px;
}
#card4{
    height: 400px;
}
::-moz-selection { /* Code for Firefox */
    color: #ecf0f1;
    background: #2c3e50;
}
#overflow{
    height: 500px;
    overflow: auto;
}
#overflow2{
    height: 300px;
    overflow: auto;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
   
    10%{    color: transparent; }
   
    
   }
